[Desktop Entry]
Name=Alsamixer Equalizer
Comment=ALSA Audio Equalizer
Exec=x-terminal-emulator -e alsamixer -D equalizer
Icon=alsamixer-equalizer.png
Terminal=false
Type=Application
Categories=System;
NoDisplay=True
