[Desktop Entry]
Name=Alsamixer Equalizer
Name[am]=Alsamixer ማስተካከያ
Name[ca]=Equalitzador Alsamixer
Name[de]=Alsamixer Equalizer
Name[el]=Alsamixer Equalizer
Name[es]=Equalizador de Alsamixer
Name[fr]=Égaliseur Alsamixer
Name[it]=Equalizzatore Alsamixer
Name[nl]=Alsamixer Equalizer
Name[pt]=Equalizador Alsamixer
Name[sv]=Alsamixer Equalizer
Comment=ALSA Audio Equalizer
Comment[am]=ALSA ድምፅ መቀላቀያ
Comment[ca]=Equalitzador d'àudio ALSA
Comment[de]=ALSA Audio Equalizer
Comment[el]=ALSA Audio Equalizer
Comment[es]=Equalizador de ALSA Audio
Comment[fr]=Égaliseur audio pour ALSA
Comment[it]=Equalizzatore audio ALSA
Comment[nl]=ALSA Audio Equalizer
Comment[pt]=Equalizador áudio ALSA
Comment[sv]=ALSA Audio Equalizer
Exec=x-terminal-emulator -e alsamixer -D equalizer
Icon=alsamixer-equalizer.png
Terminal=false
Type=Application
Categories=AudioVideo;Player;Audio;
NoDisplay=False
